@background-color: #fafafa;
@main_color: #e57373;
BODY {
  background: @background-color;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  overflow-y: auto;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.cal-context {
  .alert.alert-danger {
    display: none;
  }
}

TABLE.itemTable {
  border-spacing: 5px;


  td.ms-formlabel {
    width: 20% !important;
    padding: 10px;
    border: 1px solid black;
    border-collapse: separate;

  }
  td.ms-formbody {
    width: 30% !important;
    background: #e8e8e8;
    padding: 10px;
  }
}

td {
  line-height: 100%;
  padding: 0;
  min-height: 14px;


}

tr {line-height: 10px}

.alertBox {
  width: 100%;
  height: 50px;


  &.saved {
    background: greenyellow;
  }

  &.pending {
    background: #ffff00;
  }

  &.error {
    background: #ff0000;
  }
}

.container {
  max-width: 900px;
}

.ddlWidth  {
  width: 150px;
}


main {
  flex: 1 0 auto;
}

#searchCtrl {
  margin-top: 20px;
  margin-bottom: 20px;
}

TABLE.outer {
 font-size: 75% !important;
 width: 100%;
 border: 1px solid black;
}
TABLE {
  width: 100%;
}
TABLE.shift {
  border: 1px solid black;
  width: 100%;
}

th.outer {
  width: 100%/6;
  border: 1px solid #000000;
}

td.sv {
  background: #bbbbbb !important;
  &.selected {
    background: #86ff80 !important;
  }
}




table {
  &.finished {
    background: limegreen;
  }

  &.supervisor {
    background: orange;
    color: #ffffff;

  }

  &.semi {
    background: orangered;
    color: #ffffff;

  }

  &.default {
    background: darkred;
    color: #ffffff;

  }

  &.over {
    background: orange;
    color: #ffffff;

  }

  /*&.user {
    background: #ffffff;
  }*/

}

.disabledUser {
    color: #cccccc;
  }

.hover {
  background: #a1bbf5 !important;
}

.user.cell {
  background: #dfdfdf !important;
  &.selected {
    background: #ccffcc !important;
  }
}

td.header {
  padding-top: 10px;
  font-size: 10px;
}


tbody.collection {
  td.cell {
    font-size: 60%;
    border: 1px solid #000000 !important;
  }
}

TABLE.shift {
  margin-bottom: 25px;
}

.disabled { display: none}

@media only screen and (min-width : 993px) {
  .navbar-container
  {
    padding: 15px;
  }
}

img.location-card {
  width: 100px;
  height: 100px;
}

.collection .collection-item.avatar {
  overflow: auto !important;
  height: auto !important;
  span.title {
    float:left;
  }
  hr {
    color: @main_color ;
  }
  a.buttons {
    color: @main_color;
    position: relative;
    left: 10px !important;
  }
}

ul.collection {
  background: transparent !important;
  border: 0px !important;
  li.collection-item.avatar {
    border: #e0e0e0 solid 1px !important;
  }
}

.secondary-content {
  .overwrite {
    position: relative !important;
    right: 16px;
  }
}

main {
  margin-top: 15px;
}

.card-content-min {
  min-height: 190px !important;
}

.card-action {
  border-top: none !important;
  padding: 0px !important;
  height: 45px !important;
  text-align: center !important;
}

.facebook-color {
  background: #3b5998 !important;
}

/*.ui-view-controller {
  padding: 15px;
  background: @background-color;
}*/
.brand-logo {
  padding-left: 10px !important;
}

.location_input {
  top:25px;
  vertical-align: baseline;
  height: 100px;
  /* label color */
  &.location_input label {
    color: @main_color;
  }
  /* label focus color */
  &.input-field input[type=text]:focus + label {
    color: @main_color;
  }
  /* label underline focus color */
  &.input-field input[type=text]:focus {
    border-bottom: 1px solid @main_color;
    box-shadow: 0 1px 0 0 @main_color;
  }
  /* valid color */
  &.input-field input[type=text].valid {
    border-bottom: 1px solid @main_color;
    box-shadow: 0 1px 0 0 @main_color;
  }
  /* invalid color */
  &.input-field input[type=text].invalid {
    border-bottom: 1px solid @main_color;
    box-shadow: 0 1px 0 0 @main_color;
  }
  /* icon prefix focus color */
  &.input-field .prefix.active {
    color: @main_color;
  }


  //line-height: 100px;
}



.card_col {
  &.ng-enter {
    animation: fadeIn 1s;
  }
  &.ng-leave {
    animation: fadeOut 1s;
  }
}

.location-form {
  &.ng-enter {
    animation: fadeIn 1s;
  }
  &.ng-leave {
    animation: fadeOut 1s;
  }
}
